# Learn more about configuring your app at https://shopify.dev/docs/apps/tools/cli/configuration

client_id = "5074dfa7e5c453d5e39def9332898b8b"
name = "invoice-mauro-mario"
application_url = "https://invoice-three-mauve.vercel.app"
embedded = true

[build]
automatically_update_urls_on_dev = true

[webhooks]
api_version = "2026-01"

  [[webhooks.subscriptions]]
  topics = [ "app/uninstalled" ]
  uri = "/webhooks/app/uninstalled"

  [[webhooks.subscriptions]]
  topics = [ "app/scopes_update" ]
  uri = "/webhooks/app/scopes_update"

  [[webhooks.subscriptions]]
  topics = [ "orders/create" ]
  uri = "/webhooks/app/orders_create"


[access_scopes]
# Learn more at https://shopify.dev/docs/apps/tools/cli/configuration#access_scopes
# scopes = "write_products"
scopes = "read_customers,write_customers,write_products,read_orders,write_orders"

[auth]
redirect_urls = [ "https://invoice-three-mauve.vercel.app/api/auth" ]
